## *Question 1: Create a list of numbers from 1 to 10 and calculate the sum.*

#### Objective:  list creation, basic iteration, and the use of built-in functions like sum().

In [64]:
num =int( input("Enter the ending of list: "))
list1 = list(range(1,num +1))
result = sum(list1)
print(f"the sum of the list ending at {num} is {result}")

Enter the ending of list:  10

the sum of the list ending at 10 is 55

In [60]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

## Question 2: Create a function that returns the square of a number.
#### Objective: Introduce functions, arguments, and return values.

In [68]:
num = int(input("Enter the number for finding square: "))
print(f"The square of {num} is {square_num(num)}")

def square_num(num):
    return num**2

Enter the number for finding square:  5

The square of 5 is 25

## Question 3: Create a dictionary with three key-value pairs representing a data science toolkit (e.g., 'Language': 'Python').
#### Objective: how to create and access dictionaries.

In [78]:
dict1 = {"key": "value"}
dict1["key"] = "value2"

In [80]:
dict1

{'key': 'value2'}

In [82]:
DS_dict = {"Language": 'Python', "Library": "Pandas", "Visualization": "Seaborn"}
print(f"Dictionary {DS_dict}")

Dictionary {'Language': 'Python', 'Library': 'Pandas', 'Visualization': 'Seaborn'}

## Question 4: Check if a number is positive, negative, or zero.
#### Objective: Introduce conditional statements (if, elif, else).

In [86]:
num = int(input("Enter the  number "))
if num > 0:
    print(f'The given number is positive')
elif num<0:
    print(f'The given number is negative')
else:
    print("The number is 0")

Enter the  number  0

The number is 0

## Question 5: Create a list of even numbers from 1 to 20 using a loop.
#### Objective: Teach how to use loops (for) and conditional logic

In [92]:
even_list = list()
for num in range(1,21):
    if num % 2 == 0:
        even_list.append(num)
even_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [90]:
list1 = list(range(2,21, 2))
list1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Question 6: Calculate the factorial of a number using a while loop.
#### Objective: Introduce while loops and basic loop control

In [98]:
num = int(input("Enter the  number "))
fact = 1
i = 1
while i <= num:
    fact *= i
    i += 1
fact

Enter the  number  100

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

## Question 7: Reverse a string using a loop.
#### Objective: Teach string manipulation and iteration through loops.

In [102]:
String1 = input("Enter any string")
reverse = ""
for word in String1:
    reverse = word + reverse
reverse

Enter any string Navya

'ayvaN'

## Question 8: Count the number of vowels in a string.
#### Objective: Practice loops, conditionals, and working with strings.

In [104]:
Vowels = "aeiouAEIOU"
String1 = input("Enter any string")
count = 0
for letter in String1:
    if letter in Vowels:
        count += 1
count

Enter any string AAAbadga

5

## Question 9: Create a function that checks if a list is empty.
#### Objective: Introduce functions, list operations, and conditionals.

In [111]:
def Check_list(my_list):
    if not my_list:
        return True
    else:
        return False
my_list = []
print(f"My list is empty {Check_list(my_list)}")

My list is empty True

## Question 10: Find the maximum number in a list without using built-in functions.
#### Objective: Teach how to iterate through a list and compare values.

In [116]:
list = [5, 6,9,1,15,19,1,2]
max_num = list[0]
for num in list:
    if num > max_num:
        max_num = num
max_num

19

## Question 11: Use a loop to print a pattern of stars:
#### Objective: Practice nested loops and pattern creation.

In [124]:
n = 5
for i in  range(1, n+1):
    for j in range(i):
        print("*", end="")
    print("")

*
**
***
****
*****

In [126]:
n = 5
for i in  range(n, 0, -1):
    for j in range(i):
        print("*", end="")
    print("")

*****
****
***
**
*

## Question 12: Create a list of the first 10 square numbers using a loop.
#### Objective: Practice loop iteration and list manipulation.

In [129]:
List = []
for i in range(1, 11):
    List.append(i**2)

List

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Question 13: Find the sum of all odd numbers between 1 and 50.
#### Objective: Use loops and conditionals to filter and sum values

In [131]:
sum = 0
for i in range(1,50):
    if i % 2 != 0:
        sum += 1
sum

25

## Question 14: Write a function to check if a string is a palindrome.
#### Objective: Introduce string manipulation and comparison

In [143]:
String1 = input("Enter the string: ")
reverse = String1[::-1]
if String1.lower() == reverse.lower():
    print(f'{String1} is palindrome')
else:
     print(f'{String1} is not palindrome')

Enter the string:  Madam

Madam is palindrome

## Question 15: Find the length of the longest word in a list.
#### Objective: Teach list iteration and string length calculation

In [19]:
words = ["Data", "Science", "Python", "MachineLearning"]

## Question 16: Use a loop to print the Fibonacci sequence up to the 10th term.
#### Objective: Practice loop iteration and sequence generation.

In [146]:
n = 10
n1 = 0
n2 = 1
print("Fibonacci series for 10 numbers is :")
for i in range(10):
    print(n1, end =",")
    num = n1 + n2
    n1 = n2
    n2 = num

Fibonacci series for 10 numbers is :
0,1,1,2,3,5,8,13,21,34,

## Question 17: Create a dictionary to count the occurrences of each character in a string.
#### Objective: Teach dictionary usage and string iteration.

In [22]:
text = "Data Science with Navi"

## Question 18: Write a program that prints the numbers from 1 to 30, but for multiples of 3, print "Fizz" instead of the number, and for multiples of 5, print "Buzz". For numbers that are multiples of both 3 and 5, print "FizzBuzz".
#### Objective: Practice conditional logic and loop iteration.

In [160]:
for i in range(1,31):
    if i%3 == 0 and i %5 == 0:
        print("FizzBuzz")
    elif i%3 == 0:
        print("Fizz")
    elif i%5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

## Question 19: Create a nested loop to print a multiplication table for numbers 1 through 5.
#### Objective: Teach nested loops and basic arithmetic operations.

In [172]:
for i in range(1,6):
    for j in range(1,6):
        print(f" {i} X {j} = {i*j}" , end = "  ")
    print(" ")

 1 X 1 = 1   1 X 2 = 2   1 X 3 = 3   1 X 4 = 4   1 X 5 = 5
 2 X 1 = 2   2 X 2 = 4   2 X 3 = 6   2 X 4 = 8   2 X 5 = 10
 3 X 1 = 3   3 X 2 = 6   3 X 3 = 9   3 X 4 = 12   3 X 5 = 15
 4 X 1 = 4   4 X 2 = 8   4 X 3 = 12   4 X 4 = 16   4 X 5 = 20
 5 X 1 = 5   5 X 2 = 10   5 X 3 = 15   5 X 4 = 20   5 X 5 = 25

## Question 20: Write a program that finds the second largest number in a list.
#### Objective: list sorting and indexing

In [180]:
list1 = [5, 6,9,1,15,19,1,2]
list1.sort()
list1[-2]

15

In [178]:
list1

[1, 1, 2, 5, 6, 9, 15, 19]