In [69]:
'''Python Basics'''
"""Class 1
.
.
.
"""
print("Class 1")

Class 1

#### Rules for Identifiers

- Must begin with a letter (a-z, A-Z) or an underscore (_).
- Cannot conflict with Python's in-built keywords.
- The remaining characters can be letters, numbers, or underscores.
- Case-sensitive (e.g., variable and Variable are different).

In [77]:
# key words
key_word1 = 1
key_word1

1

In [81]:
# and = 1

In [85]:
Key_word1 = 'python'
Key_word1 == key_word1

False

Conversion

In [4]:
list = [1,2,3,4,4,4,5]
tuple = (1,2,3,3,4)
set = {1,2,3}

String

#### Strings in Python
- In Python, a string is a sequence of characters, and it is one of the fundamental data types in the language. 
- Strings are used to represent text and are treated as immutable sequences of Unicode code points.

#### Strings can be declared using either single quotes (‘ ’) or double quotes (“ ”).

functions for strings len(), startswith(), endswith(), isalpha(), isdigit(), isalnum()

In [159]:
str1 = 'python'
str2 = "CLASS"
str1, str2

('python', 'CLASS')

In [161]:
# String concatenate
str = str1 + " " + str2
str

'python CLASS'

In [163]:
# String length
len(str1)

6

In [165]:
len(str)

12

In [167]:
# String indexing
str1[2]

't'

In [169]:
# string conversion
str3 = '7'
type(str3)

str

In [171]:
str3 = float(str3)
type(str3)

float

In [173]:
# Slicing the string
""" Srting slicing word from start to
end
with number of place to be taken """
str[: :2]

'pto LS'

In [185]:
# String case conversion methods, upper(), lower(), capitalize(), title()
str1.upper(), str1, str2.lower(), str2, str.capitalize(), str.title(), str

('PYTHON',
 'python',
 'class',
 'CLASS',
 'Python class',
 'Python Class',
 'python CLASS')

functions like find(), replace(), count(), split(), join(), .fotmat()

In [207]:
string = 'Python is the easiest is computer language'
string.find('navya')
#string.index('navi')

-1

In [209]:
string.replace('easiest', 'simple')

'Python is the simple is computer language'

In [213]:
string.count('i')

3

In [232]:
words = ["Hello", "world", "Python", "is", "awesome"]
word2 = ' '.join(words)
word2.split()

['Hello', 'world', 'Python', 'is', 'awesome']

In [236]:
"This is the {}1 of {}".format(str2.lower(), str1)

'This is the class1 of python'

In [238]:
f'This is the {str2.lower()}1 of {str1}'

'This is the class1 of python'

In [242]:
str3 = 1.44549875
f"the value is {str3: .2f}"

'the value is  1.45'

Operations like Arithmetic, Comparision, Logical, Bitwise, Assignment, Membership

In [244]:
# Arithmetic
val1, val2 = 3,5
add = val1 + val2
sub = val2 - val1
mul = val1 * val2
div = val2/ val1
mod = val2 % val1
pow = val2 ** val1
add, sub, mul, div, mod, pow

(8, 2, 15, 1.6666666666666667, 2, 125)

In [254]:
#Comparision 
val1 <= val2 # ==, >=, <=, !=
val1 != val2

True

In [258]:
# logical Operators and, or, not
a = True
b = False
a and b

False

In [260]:
a or b

True

In [262]:
not b

True

In [268]:
(a and (not b)) or b

True

In [292]:
# bitwise operator
"""& (AND)
| (OR)
^ (XOR)
~ (NOT)
<< (Left Shift)
>> (Right Shift)
""" 
a = 3 # 011
b = 5 # 101
a & b, a | b, a ^ b, ~a, a << 1, a>> 1

(1, 7, 6, -4, 6, 1)

In [300]:
# Assignment
x = 5
x += 1
x

6

In [302]:
x -= 2
x
# *=, /=, %=

4

In [310]:
# Membership in , not in
list1 = [1 , 2, 3, 4, 5]
10 not in list

True

Accessing first element of list, second element of tuple , third element of set

In [318]:
list = [1,2,3,4,4,4,5]
tuple = (1,2,3,3,4)
set = {1,2,3}

In [322]:
list[0], tuple[1]

(1, 2)

Input function to take inputs from user

In [330]:
type(int(input("Enter any value: ")))

Enter any value:  5

int

Conditional statments

In [334]:
# if condition 
x = int(input("Enter any value: "))
if x>10:
    print("greater than 10")

Enter any value:  15

greater than 10

In [336]:
# if else statment
x = int(input("Enter any value: "))
if x>10:
    print("greater than 10")
else:
    print('lesser than 10')

Enter any value:  5

lesser than 10

In [338]:
# if elif statements, multiple if conditions

x = int(input("Enter any value: "))
if x>10:
    print("greater than 10")
elif x<10 and x> 5:
     print('lesser than 10 and greater than 5')
else:
    print('lesser than 5')

Enter any value:  8

lesser than 10 and greater than 5

Loop Statments

In [346]:
# for loop
for repeat in range(2):
    print('python')

python
python

In [348]:
list = [1,2,3,4,4,4,5]
for val in list:
    print(val)

1
2
3
4
4
4
5

In [352]:
for x in range(5,29,3):
    print(x)

5
8
11
14
17
20
23
26

In [356]:
# while loop
x = 0
while x<10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9